<launch>
  <node name="recovery_vision" pkg="sub8_vision" type="recovery_vision"/>
  <node name="rr_track_locator" pkg="sub8_vision" type="rr_track_locator"/>
  <node name="torpedo_vision" pkg="sub8_vision" type="torpedo_vision.py"/>
  <node name="torpedo_vision_area" pkg="sub8_vision" type="torpedo_vision_area.py"/>
</launch>

