<launch>

  <node pkg="camera1394" type="camera1394_node" name="forward_camera_driver">
    <param name="guid" value="00b09d01009ce76c"/>
    <param name="frame_id" value="forward_camera"/>
    <param name="bayer_pattern" value="rggb"/>
    <param name="bayer_method" value="Simple"/>
    <param name="use_ros_time" value="true"/>
    <remap from="camera" to="forward_camera"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="forward_camera_tf"
    args="0.566 0 0.049  0.5 -0.5 0.5 -0.5  base_link forward_camera 100" />
  <node ns="forward_camera" pkg="image_proc" type="image_proc"
          name="image_proc" />

  <node pkg="camera1394" type="camera1394_node" name="down_camera_driver">
    <param name="guid" value="00b09d01009ce76f"/>
    <param name="frame_id" value="down_camera"/>
    <param name="bayer_pattern" value="rggb"/>
    <param name="bayer_method" value="Simple"/>
    <param name="use_ros_time" value="true"/>
    <remap from="camera" to="down_camera"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="down_camera_tf"
    args="0.297 0 -0.102  0.707107 -0.707107 0 0  base_link down_camera 100" />
  <node ns="down_camera" pkg="image_proc" type="image_proc"
          name="image_proc" />

</launch>
