<launch>

  <node pkg="leaksensor_driver" type="leaksensor_driver" name="leaksensor_driver">
    <param name="port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A901JZ8V-if00-port0"/>
    <rosparam param="addresses">
      0013a20040a45fcc: main
      0013a20040a45fc3: navbox
    </rosparam>
  </node>

</launch>
